<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kabum Clone</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body onload="getProdutos()">
    <header>
            <img src="/images/kabum-logo.png">
            <input>
        <div>
            <button id="home" onclick="">🛒</button>
            <button id="produtos" onclick="">Produtos</button>
            <button id="login" onclick="navLogin()">Login</button>
        </div>
    </header>
    <div id="lista_produtos"></div>

    <script src="/js/index.js"></script>
    <script src="/js/header.js"></script>
</body>
</html>
