<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <img src="/images/kabum-logo.png" onclick="navIndex()">
        <input>
        <div>
            <button id="home" onclick="">🛒</button>
            <button id="produtos" onclick="">Produtos</button>
            <button id="login" onclick="navLogin()">Login</button>
        </div>
    </header>
    <div>
    <form>
        <h1>Login no Kabum Clone</h1>
        <h3>Esse é o site oficial, confia 😎👍</h3>
        <input placeholder="Insira seu email" type="email" onkeyup="getEmail()" id="email"></input>
        <input placeholder="Insira sua senha" type="password" onkeyup="getSenha()" id="senha"></input>
        <input type="button" value="Login" onclick="login()">
        <a href="">Ainda não tem conta, crie uma aqui!</a>
    </fomr>
    </div>

<script src="/js/header.js"></script>
<script src="/js/login.js"></script>

</body>
</html>
