<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Detalhes</title>
</head>
<body onload="iniciarProduto()">
    <header>
        <img src="/images/kabum-logo.png" onclick="navIndex()">
        <input>
    <div>
        <button id="home" onclick="navIndex()">🛒</button>
        <button id="produtos" onclick="">Produtos</button>
        <button id="login" onclick="navLogin()">Login</button>
    </div>
</header>
    <h1 id="nomeProduto"></h1>
    <h2 id="descricao"></h2>
    <h2 id="preco"></h2>
    <button>Comprar</button>
    <script src="/js/prduto.js"></script>
    <script src="/js/header.js"></script>
</body>
</html>
